html
  head
    title= title
    
  body
    h1 contact us on this number 95964014


    ul
    li
        a.nav-link(href='/HomePage') Home
    li 
        a.nav-link(href='/OurServices') Our services
    
        
<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
        
        
    
   
   
         