doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 this is our Homepage
    
    ul
    li
        a.nav-link(href='/ContactUs') Contact
    li
        a.nav-link(href='/OurServices') Our services
    
